@keyframes drop {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0)
    }
}

.taskboard {
    overflow: visible;
    z-index: 1;
    padding-bottom: 50px;

    &__select {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-block: 20px;
        column-gap: 20px;
        animation: drop 0.3s forwards;

        &_btn {
            background-color: var(--background-gradient);
            padding: 10px 15px;
            font-size: 25px;
            font-weight: 1000;
            border-radius: var(--border-radius);
            border: 2px solid transparent;
            transition: 0.3s;
            width: 100%;

            &:hover {
                border: 2px solid var(--color-accent);
            }
        }

        .selected {
            background-color: var(--color-accent);
            color: var(--color-background);
            border: 2px solid var(--color-accent);
        }
    }

    &__write-task {
        border: 2px solid rgb(210, 210, 210);
        background: transparent;
        font-family: 'Comfortaa';
        color: var(--color-text);
        border-radius: var(--border-radius);
        font-size: 20px;
        padding: 10px 20px;
        transition: 0.3s;

        &::placeholder {
            color: rgb(210, 210, 210);
        }

        &:focus {
            border: 2px solid var(--color-accent);
        }
    }

    &__add-task {
        margin: 0;
        padding-inline: 15px;
        font-size: 30px;
        color: var(--color-background);
        background-color: var(--color-accent);
        transition: 0.3s;
        border-radius: 10px;

        &:hover {
            opacity: 0.6;
        }
    }

    &__wipe {
        background-color: var(--color-accent);
        color: white;
        font-weight: 1000;
        font-size: 20px;
        border-radius: 10px;
        transition: 0.3s;
        padding-inline: 15px;

        &:hover {
            opacity: 0.6;
        }
    }

    &__header {
        @keyframes rev {
            from {
                opacity: 0;
            } to {
                opacity: 1;
            }
        }

        display: flex;
        column-gap: 5px;
        animation: rev 0.5s forwards;
    }

    &__task-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        row-gap: 20px;
        transition: all 0.3s;
    }

    &__task {
        position: relative;
        background: var(--background-gradient);
        width: 350px;
        padding: 5px;
        font-size: 20px;
        font-weight: 1000;
        border-radius: var(--border-radius);
        transition: 0.2s;
        border: 2px solid transparent;
        overflow: hidden;
    }

    &-categories {
        padding-inline: 140px;
    }

    &__categories-list {
        margin-top: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;
        row-gap: 20px;
    }

    &__category {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        column-gap: 20px;
        font-size: 40px;
        font-weight: 1000;
        background-color: var(--color-accent);
        box-shadow: none;
        color: var(--color-background);
        min-height: 100px;
        border-radius: var(--border-radius);
        animation: drop 0.3s forwards;
        transition: 0.3s;
        cursor: pointer;
        padding-block: 10px;
        padding-inline: 40px;
        z-index: 1;

        &-wrapper {
            z-index: 1;
        }

        &__content-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            &::before {
                content: '';
                width: 0%;
                height: 3px;
                border-radius: 10px;
                background-color: var(--color-background);
                position: absolute;
                z-index: 1;
                top: 120%;
                transition: 0.3s;
            }
        }

        &__svg-wrapper {
            display: flex;
            align-items: center;
            column-gap: 5px;
            pointer-events: all;
        }

        &__change-color {
            background-color: var(--color-accent);
            color: var(--color-background);
            font-size: 20px;
            font-weight: 1000;
            font-family: 'Comfortaa';
            border-radius: 10px;
            transition: 0.5s;
            cursor: pointer;
            position: relative;
            padding-inline: 15px;
            padding-block: 10px;

            &__options {
                position: absolute;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                padding: 7.5px;
                background-color: var(--background-gradient);
                box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.419);
                border-radius: 10px;
                column-gap: 5px;
                row-gap: 5px;
                top: -100%;
                right: 105%;
                z-index: 9999 !important;
                opacity: 0;
                transform: translateX(20px);
                transition: 0.3s;
                pointer-events: none;
            }
            
            &__option {
                width: 44px;
                height: 45px;
                background-color: red;
                border-radius: 10px;
                cursor: pointer;
                transition: 0.3s;

                &:hover {
                    opacity: 0.6;
                }
            }

            &:hover {
                opacity: 0.6;
            }
        }

        &:hover &__content-wrapper::before {
            content: '';
            height: 3px;
            border-radius: 10px;
            background-color: var(--color-background);
            position: absolute;
            z-index: 1;
            width: 100%;
        }
            
        &-wrapper {
            transition: 0.3s;

            &:hover {
                transform: scale(1.050, 1.050);
            }
        }
    }
}

.inner-content-wrapper {
    position: relative;
    padding: 10px;
    display: flex;
    column-gap: 10px;
    justify-content: space-between;
    width: 100%;
    border-radius: 15px;
    background-color: var(--background-gradient);
    z-index: 1;
    transition: 0.2s;
}

.spinning-border {
    position: absolute;
    width: 120%;
    height: 30%;
    top: 50%;
    left: -10%;
    background-color: black;
    animation: moveBorder 2s infinite linear;
    z-index: 1;

    @keyframes moveBorder {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}

.reveal {
    opacity: 1;
    transform: translateX(0);
    pointer-events: all;
}

.category-tasks {
    opacity: 0;
    animation: drop 0.3s forwards;
    margin-top: 30px;

    &__header {
        display: flex;
        justify-content: center;
        position: relative;
    }

    &__title {
        font-size: 40px;
    }

    &__return-btn {
        position: absolute;
        left: 30px;
        top: 190px;
        margin-top: 0;
        color: var(--color-background);
        background-color: var(--color-accent);
        font-size: 20px;
        padding: 10px 20px;
        border-radius: 15px;
        transition: 0.3s;

        &:hover {
            opacity: 0.6;
        }
    }

    &__create-task {
        display: flex;
        justify-content: center;
        column-gap: 7.5px;
        margin-top: 15px;
    }
}

.deadline-bar {
    width: 100%;
    height: 4px;
    background-color: rgb(0, 195, 255);
    border-radius: 20px;
    align-self: flex-end;
    position: absolute;
    z-index: 5;
    bottom: -7px;
    left: 15px;
    transition: 0.3s;
}

.section-choose {
    display: flex;
    column-gap: 10px;
    width: 100%;
}

.complete {
    background-color: var(--color-accent);
    color: var(--color-background);
}

.in-process {
    border: 2px solid transparent;
}

.cross {
    text-decoration: line-through;
}

.edit-task {
    font-size: 20px;
    border-radius: var(--border-radius);
    padding: 10px 15px;
    width: 89%;
    font-family: 'Comfortaa';
    box-shadow: var(--box-shadow);
    border: 1.5px solid transparent;
    transition: 0.2s;
    outline: none;
    resize: none;
    overflow: hidden;

    &:focus {
        border: 1.5px solid var(--color-accent);
    }
}

.task-status {
    font-size: 15px;
    font-weight: 1000;
}

.task-wrapper {
    display: flex;
    column-gap: 5px;
    align-items: center;
    animation: drop 0.3s forwards;
    user-select: none;
}

.task-index {
    position: absolute;
    left: -35px;
    font-size: 25px;
    font-weight: 1000;
}

.content-wrapper {
    display: flex;
    align-items: center;
    position: relative;
}

.item-wrapper {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    position: relative;
}

.text-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 7.5px;
}

.three-dots {
    cursor: pointer;
    padding-block: 5px;
    position: absolute;
    right: -30px;
    transition: 0.3s;
    fill: var(--color-accent);

    &:hover {
        opacity: 0.5;
    }
}

.button-wrapper {
    align-self: center;
}

.complete-btn {
    border: 1.5px solid black;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.task-options {
    position: absolute;
    right: -250px;
    display: flex;
    column-gap: 5px;
    background-color: var(--background-gradient);
    padding: 10px;
    border-radius: var(--border-radius);
    opacity: 0;
    visibility: hidden;
    transform: translateX(-10px);
    transition: 0.3s;
    z-index: 10;
}

.show-options {
    opacity: 1;
    visibility: visible;
    transform: translateX(0px);
    z-index: 10;
}

.task-option {
    background-color: var(--color-accent);
    color: var(--color-background);
    border-radius: var(--border-radius);
    padding-block: 5px;
    box-shadow: var(--box-shadow);
    transition: 0.2s;

    &:hover {
        opacity: 0.6;
    }
}

.option {
    background-color: var(--color-accent);
    fill: var(--color-background);
    color: var(--color-background);
    border-radius: var(--border-radius);
    cursor: pointer;
    padding: 7.5px;
    transition: 0.3s;
    box-shadow: var(--box-shadow);

    &:hover {
        opacity: 0.6;
    }
}

@keyframes deleting {
    from {
        transform: translateX(0px);
        opacity: 1;
    }
    to {
        transform: translateX(60px);
        opacity: 0; 
    }
}

@keyframes deleting-category {
    from {
        transform: scale(1.075, 1.075);
        opacity: 1;
    }
    to {
        transform: scale(0.8, 0.8);
        opacity: 0; 
    }
}

.deleting {
    animation: deleting 0.4s forwards;
}

.deleting-category {
    animation: deleting-category 0.3s forwards ease-in-out;
}

.sandclock {
    @keyframes rotate {
        50% {
            transform: rotate(180deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    position: absolute;
    align-self: center;
    fill: var(--color-accent);
    animation: rotate 1s infinite;
    left: -100px;
}

#confirm-edit {
    position: absolute;
    left: -55px;
    opacity: 0;
    z-index: 10;
    transition: 0.3s;

    @keyframes slideLeft {
        from {
            opacity: 0;
            transform: translateX(15px);
        }
        to {
            opacity: 1;
            transform: translateX(0px);
        }
    }

    &:hover {
        background-color: rgb(93, 93, 93);
    }

    animation: slideLeft 0.3s forwards;
}

