@keyframes drop {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0)
    }
}

.taskboard {
    position: relative;
    z-index: 1;
    padding-bottom: 50px;

    &__select {
        display: flex;
        justify-content: center;
        margin-block: 20px;
        column-gap: 10px;
        animation: drop 0.3s forwards;

        &_btn {
            background-color: var(--background-gradient);
            padding: 10px 15px;
            font-size: 20px;
            border-radius: var(--border-radius);
            border: 1.5px solid transparent;
            transition: 0.3s;

            &:hover {
                border: 1.5px solid var(--color-accent);
            }
        }

        .selected {
            background-color: var(--color-accent);
            color: var(--color-background);
            border: 1.5px solid var(--color-accent);
        }
    }

    &__write-task {
        border: 1px solid rgb(210, 210, 210);
        background: transparent;
        font-family: 'Comfortaa';
        color: var(--color-text);
        border-radius: var(--border-radius);
        font-size: 20px;
        padding: 10px 20px;
        transition: 0.3s;
        width: 25%;
        box-shadow: var(--box-shadow);

        &::placeholder {
            color: rgb(210, 210, 210);
        }

        &:focus {
            border: 1px solid var(--color-accent);
            box-shadow: 0 5px 10px rgb(223, 223, 223);
        }
    }

    &__add-task {
        margin: 0;
        padding-inline: 20px;
        font-size: 30px;
        color: var(--color-background);
        background-color: var(--color-accent);
        transition: 0.3s;
        border-radius: var(--border-radius);

        &:hover {
            opacity: 0.6;
        }
    }

    &__header {
        display: flex;
        justify-content: center;
        column-gap: 7.5px;
        animation: drop 0.3s forwards;
    }

    &__task-list {
        display: flex;
        flex-direction: column;
        padding-inline: 35%;
        margin-top: 20px;
        row-gap: 10px;
    }

    &__task {
        background: var(--background-gradient);
        max-width: 550px;
        padding: 15px 15px 15px 20px;
        font-size: 20px;
        border-radius: var(--border-radius);
        z-index: 10;
        transition: 0.3s;
        border: 1.5px solid transparent;
    }

    &-categories {
        padding-inline: 80px;
    }

    &__categories-list {
        margin-top: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    &__category {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        font-weight: 1000;
        background-color: var(--color-accent);
        color: var(--color-background);
        min-height: 100px;
        border-radius: var(--border-radius);
        animation: drop 0.5s forwards;
        transition: 0.3s;
        cursor: pointer;
        padding-block: 10px;

        &:hover {
            background-color: rgb(93, 93, 93);
        }

        &-wrapper {
            padding: 10px 30px;
        }
    }
}

.category-tasks {
    opacity: 0;
    animation: drop 0.3s forwards;
    margin-top: 30px;

    &__header {
        display: flex;
        justify-content: center;
        position: relative;
    }

    &__title {
        font-size: 40px;
    }

    &__return-btn {
        position: absolute;
        left: 50px;
        margin-top: 0;
        color: var(--color-background);
        background-color: var(--color-accent);
        font-size: 20px;
        padding: 10px 20px;
        border-radius: var(--border-radius);
        transition: 0.3s;

        &:hover {
            opacity: 0.6;
        }
    }

    &__create-task {
        display: flex;
        justify-content: center;
        column-gap: 7.5px;
        margin-top: 15px;
    }
}

.complete {
    background-color: var(--color-accent);
    color: var(--color-background);
}

.in-process {
    border: 1.5px solid var(--color-accent);
}

.cross {
    text-decoration: line-through;
}

.edit-task {
    font-size: 20px;
    border-radius: var(--border-radius);
    padding: 10px 15px;
    font-family: 'Comfortaa';
    box-shadow: var(--box-shadow);
    border: 1.5px solid transparent;
    transition: 0.2s;
    outline: none;
    resize: none;
    overflow: hidden;

    &:focus {
        border: 1.5px solid var(--color-accent);
    }
}

.task-status {
    font-size: 15px;
    font-weight: 1000;
}

.task-wrapper {
    display: flex;
    column-gap: 5px;
    align-items: center;
    animation: drop 0.3s forwards;
}

.task-index {
    position: absolute;
    left: -35px;
    font-size: 25px;
    font-weight: 1000;
}

.content-wrapper {
    display: flex;
    align-items: center;
    position: relative;
}

.item-wrapper {
    display: flex;
    column-gap: 20px;
}

.text-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 7.5px;
}

.three-dots {
    cursor: pointer;
    padding-block: 5px;
    position: absolute;
    right: -30px;
    transition: 0.3s;
    fill: var(--color-accent);

    &:hover {
        opacity: 0.5;
    }
}

.button-wrapper {
    align-self: center;
}

.complete-btn {
    border: 1.5px solid black;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.task-options {
    position: absolute;
    right: -250px;
    display: flex;
    column-gap: 5px;
    background-color: var(--background-gradient);
    padding: 10px;
    border-radius: var(--border-radius);
    opacity: 0;
    visibility: hidden;
    transform: translateX(-10px);
    transition: 0.3s;
    z-index: 9999;
}

.show-options {
    opacity: 1;
    visibility: visible;
    transform: translateX(0px);
    z-index: 9999;
}

.task-option {
    background-color: var(--color-accent);
    color: var(--color-background);
    border-radius: var(--border-radius);
    padding-block: 5px;
    box-shadow: var(--box-shadow);
    transition: 0.2s;

    &:hover {
        opacity: 0.6;
    }
}

.option {
    background-color: var(--color-accent);
    fill: var(--color-background);
    color: var(--color-background);
    border-radius: var(--border-radius);
    cursor: pointer;
    padding: 7.5px;
    transition: 0.3s;
    box-shadow: var(--box-shadow);

    &:hover {
        opacity: 0.6;
    }
}

.deleting {
    @keyframes deleting {
        from {
            transform: translateX(0px);
            opacity: 1;
        }
        to {
            transform: translateX(40px);
            opacity: 0; 
        }
    }

    animation: deleting 0.4s forwards;
}

.sandclock {
    @keyframes rotate {
        50% {
            transform: rotate(180deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    position: absolute;
    align-self: center;
    fill: var(--color-accent);
    animation: rotate 1s infinite;
    left: -100px;
}

#confirm-edit {
    position: absolute;
    left: -55px;
    opacity: 0;
    z-index: 10;
    transition: 0.3s;

    @keyframes slideLeft {
        from {
            opacity: 0;
            transform: translateX(15px);
        }
        to {
            opacity: 1;
            transform: translateX(0px);
        }
    }

    &:hover {
        background-color: rgb(93, 93, 93);
    }

    animation: slideLeft 0.3s forwards;
}
