.login {
    display: flex;
    justify-content: center;
    color: var(--color-accent);
    padding-bottom: 50px;

    &__container {
        @include formContainerStyles();

        @include mobile {
            padding: 30px 40px;
            margin-top: 17.5vh;
            border-radius: 10px;
        }

        @include mobile-small {
            padding: 30px 10px;
        }
    }

    &__name {
        font-size: 45px;
        font-weight: 300;

        @include mobile {
            font-size: 35px;
        }

        @include mobile-small {
            font-size: 32.5px;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        row-gap: 15px;

        @include mobile {
            padding-inline: 15px;
        }
    }

    &__input {
        @include inputStyles();

        @include mobile {
            font-size: 17.5px;
        }
    }

    &__button {
        @include signInUpButtonStyles();
        color: var(--color-background);
        transition: 0.3s;

        &:hover {
            background-color: var(--color-main);
        }

        @include mobile {
            font-size: 17.5px;
        }
    }

    @include mobile {
        padding-inline: 200px;
    }

    @include mobile-small {
        padding-inline: 100px;
    }
}

.remember {
    display: flex;
    column-gap: 7.5px;
    margin-left: 7.5px;
    margin-top: 5px;
    cursor: pointer;

    &__checkbox {
        width: 20px;
        height: 20px;
        border-radius: 7.5px;
        border: 2px solid var(--color-hover);
        cursor: pointer;
        transition: 0.3s;
    }

    &__text {
        align-self: center;
        margin-top: 2px;
        font-size: 19px;
        user-select: none;

        @include mobile {
            font-size: 17.5px;
        }
    }
}

.modal-container {
    display: flex;
    justify-content: center;
    position: fixed;
    opacity: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-color: var(--color-background);
    transition: 0.3s;
}

.blackout {
    opacity: 0.95
}

.email-reset {
    @include formContainerStyles();
    position: absolute;
    padding: 30px 40px;
    max-width: 350px;
    margin-top: 10%;
    opacity: 0;
    pointer-events: none;
    animation: none;
    transition: 0.3s;
    transform: scale(0.85, 0.85);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.247);

    &__info {
        font-size: 17px;

        @include mobile {
            font-size: 13px;
        }
    }

    @include mobile {
        margin-top: 25vh;
        padding: 30px;
        width: 280px;
    }

    @include mobile-small {
        padding: 25px;
    }
}

.show {
    opacity: 1;
    pointer-events: all;
    transform: scale(1, 1);
    z-index: 50;
}

.close-button {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    right: 8px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;

    &::after, &::before {
        position: absolute;
        content: '';
        width: 20px;
        top: 12px;
        right: 4px;
        height: 2px;
        background-color: var(--color-accent);
        transition: 0.3s;
    }

    &:hover{
        &::after {
            transform: rotate(137.5deg);
        }
        &::before {
            transform: rotate(222.5deg);
        }
    } 
}