body {
    margin: 0;
}

.main {

    &__header {
        display: flex;
        justify-content: space-between;
        padding: 20px 50px;
        border-bottom: 1px solid rgb(232, 232, 232);
        user-select: none;

        &__name {
            display: flex;
            column-gap: 12.5px;
            animation: appear 0.5s forwards;
            opacity: 0;

            svg {
                align-self: center;
                fill: var(--color-accent);
            }
        }

        &__title {
            color: var(--color-text);
            align-self: center;
            font-size: 40px;
            font-weight: 400;
        }

        &__profile {
            align-self: center;
            cursor: pointer;
            transition: 0.2s;

            svg {
                fill: var(--color-accent);
            }

            &:hover {
                opacity: 0.5
            }
        }

        &__logout-btn {
            @include signInUpButtonStyles();
            border-radius: 15px;
            margin-top: 0;
            font-size: 20px;
            padding: 12.5px 17.5px;
            color: var(--color-background);
            transition: 0.3s;

            &:hover {
                opacity: 0.6;
            }
        }

        &__info {
            position: absolute;
            visibility: hidden;
            display: flex;
            flex-direction: column;
            opacity: 0;
            transition: 0.3s;
            transform: translateY(10px);
            row-gap: 15px;
            background: var(--background-gradient);
            padding: 25px 30px;
            border-radius: 15px;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.194);
            right: 50px;
            top: 70px;
            font-size: 17.5px;
            z-index: 1;
        }

        &__extra {
            background-color: var(--background-gradient);
            padding: 10px 15px;
            font-size: 20px;
            border-radius: 10px;
            border: 2px solid transparent;
            transition: 0.3s;

            &:hover {
                border: 2px solid var(--color-accent);
            }
        }
    }
}

.selected {
    background-color: var(--color-accent) !important;
    color: var(--color-background);
    border: 2px solid var(--color-accent);
}

.profile-information {
    animation: appear 0.5s forwards;
    animation-delay: 0.2s;
    opacity: 0;
    display: flex;
    column-gap: 20px;
}

.username {
    align-self: center;
    font-weight: 400;
    font-size: 21px;
    color: var(--color-text);
}

.show-profile {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.info-field {
    color: var(--color-accent);
    user-select: text;
}

.confirmation {
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-color: transparent;
    transition: 0.3s;
    top: 0;
}

.show-modal {
    opacity: 1!important;
    pointer-events: all!important;
    transform: scale(1, 1)!important;
    z-index: 3;
}

.dark {
    backdrop-filter: blur(12.5px);
    pointer-events: all;
}

.make-sure {
    @include formContainerStyles();
    border-radius: 15px;
    position: absolute;
    z-index: 4;
    padding: 25px 30px;
    row-gap: 10px;
    margin-top: 14%;
    width: 200px;
    opacity: 0;
    pointer-events: none;
    animation: none;
    transition: 0.3s;
    transform: scale(0.85, 0.85);
    background-color: var(--background-gradient);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.247);
}

.extra-possibilities {
    display: flex;
    flex-direction: column;
    background-color: var(--background-gradient);
    padding: 30px 35px;
    border-radius: 10px;
    row-gap: 10px;
    position: absolute;
    z-index: 2;
    top: 25%;
    min-width: 250px;
    transform: scale(0.85, 0.85);
    opacity: 0;
    transition: 0.3s;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.247);
}

.extra-option {
    background-color: var(--background-gradient);
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid transparent;
    transition: 0.3s;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.132);

    &:hover {
        border: 2px solid var(--color-accent);
    }
}

.buttons {
    display: flex;
    flex-direction: column;
    column-gap: 10px;
}

#sure, #not-sure {
    @include signInUpButtonStyles();
    padding: 10px 15px;
    color: var(--color-background);
    transition: 0.3s;
    border-radius: 15px;

    &:hover {
        opacity: 0.6;
    }
}