.registration {
    display: flex;
    justify-content: center;
    color: var(--color-accent);
    padding-bottom: 50px;
    
    &__container {
        @include formContainerStyles();

        @include mobile {
            padding: 30px 40px;
            margin-top: 15vh;
            border-radius: 10px;
        }

        @include mobile-small {
            padding: 25px 17.5px;
        }
    }

    &__name {
        font-size: 45px;

        @include mobile {
            font-size: 35px;
        }

        @include mobile-small {
            font-size: 32.5px;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }

    &__input {
        @include inputStyles();

        @include mobile {
            font-size: 17.5px;
        }
    }

    &__button {
        @include signInUpButtonStyles();
        color: var(--color-background);
        transition: 0.3s;

        &:hover {
            background-color: var(--color-main);
        }

        @include mobile {
            font-size: 20px;
        }
    }

    @include mobile {
        padding-inline: 200px;
    }

    @include mobile-small {
        padding-inline: 100px;
    }
}

.loading-screen {
    width: 100%;
    height: 100%;
    background-color: var(--color-background);
    position: fixed;
    opacity: 0.8;
    padding-top: 20%;
    display: none;
    justify-content: center;
    z-index: 20;

    &::after, &::before {
        position: absolute;
        content: '';
        width: 17.5px;
        height: 17.5px;
        background-color: var(--color-accent);
        border-radius: 50%;

        @keyframes loading {
            0% {
                opacity: 0;
                transform: translateX(-30px)
            }
            50% {
                opacity: 1;
            }
            100% {
                opacity: 0;
                transform: translateX(30px)
            }
        }

        animation: loading 1s infinite ease-in-out; 
    }

    &::before {
        animation-delay: 0.3s;
    }
}

.load {
    display: flex;
}

.input-wrapper {
    display: flex;
    position: relative;
}

.svg-eye {
    position: absolute;
    cursor: pointer;
    left: 86.3%;
    top: 14%;
    transition: 0.3s;
    padding: 5px;
    fill: rgb(127, 127, 127);

    @include mobile {
        left: 85%;
    }
}
.active {
    fill: var(--color-accent);
}

.crossline {
    height: 2px;
    width: 35px;
    background-color: rgb(127, 127, 127);
    position: absolute;
    transform: rotate(45deg);
    top: 26.5px;
    right: 12px;
    transition: 0.2s;
    cursor: pointer;

    @include mobile {
        right: 9px;
    }

    @include mobile-small {
        right: 11px;
    }
}
.hide {
    width: 0%;
    right: 29.25px;

    @include mobile {
        right: 28px;
    }

    @include mobile-small {
        right: 29px;
    }
}

.advice {
    position: absolute;
    background: var(--background-gradient);
    padding: 17.5px;
    width: 47.5%;
    border-radius: 10px;
    left: 105%;
    top: -35%;
    z-index: 2;
    opacity: 0;
    transform: translateX(-10px);
    text-align: left;
    transition: 0.3s;
    box-shadow: var(--box-shadow);

    &__list {
        display: flex;
        flex-direction: column;
        list-style:disc;
        padding-left: 10px;
        margin: 0;
        row-gap: 10px;
    }

    @include mobile {
        left: 0%;
        top: -240%;
        font-size: 15px;
        border-radius: 7.5px;
    }

    @include mobile-small {
        left: 0%;
        top: -180%;
    }
}

.visible {
    transform: translateX(0);
    opacity: 1;
}

.repeat {
    color: var(--color-accent);
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}


