.registration {
    display: flex;
    justify-content: center;
    
    &__container {
        @include formContainerStyles()
    }

    &__form {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }

    &__input {
        @include inputStyles()
    }

    &__button {
        @include signInUpButtonStyles()
    }
}

.loading-screen {
    width: 100%;
    height: 100%;
    background-color: var(--color-background);
    position: fixed;
    opacity: 0.8;
    padding-top: 20%;
    display: none;
    justify-content: center;
    z-index: 100;

    &::after, &::before {
        position: absolute;
        content: '';
        width: 17.5px;
        height: 17.5px;
        background-color: var(--color-accent);
        border-radius: 50%;

        @keyframes loading {
            0% {
                opacity: 0;
                transform: translateX(-30px)
            }
            50% {
                opacity: 1;
            }
            100% {
                opacity: 0;
                transform: translateX(30px)
            }
        }

        animation: loading 1s infinite ease-in-out; 
    }

    &::before {
        animation-delay: 0.3s;
    }
}

.load {
    display: flex;
}

.input-wrapper {
    display: flex;
    position: relative;
}

.svg-eye {
    position: absolute;
    background-color: #696969;
    cursor: pointer;
    left: 86.5%;
    top: 14%;
    transition: 0.2s;
    padding: 5px;
    border-radius: 10px;
}
.active {
    background-color: var(--color-background);
    fill: var(--color-accent);
}

.advice {
    position: absolute;
    background: var(--background-gradient);
    padding: 17.5px;
    width: 47.5%;
    border-radius: 10px;
    left: 105%;
    top: -35%;
    box-shadow: 0px 0px 20px var(--color-background);
    z-index: 2;
    opacity: 0;
    transform: translateX(-10px);
    text-align: left;
    transition: 0.3s;

    &__list {
        display: flex;
        flex-direction: column;
        list-style:disc;
        padding-left: 10px;
        margin: 0;
        row-gap: 10px;
    }
}

.visible {
    transform: translateX(0);
    opacity: 1;
}

.repeat {
    color: var(--color-accent);
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}


