:root {
    --color-main: #292929;
    --color-text: #333333;
    --color-accent: #007bff;
    --color-background: #FFFFFF;
    --background-gradient: #f2f2f2;
    --box-shadow: 0 5px 10px rgba(185, 185, 185, 0.152);
}