:root {
    --color-main: #292929;
    --color-text: #000000;
    --color-accent: black;
    --color-background: #FFFFFF;
    --background-gradient: #f2f2f2;
    --color-hover: rgba(0, 0, 0, 0.675);
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.108);
    --border-radius: 20px;
}