@font-face {
  font-family: "Comfortaa";
  src: url("../assets/Unbounded-VariableFont_wght.ttf");
}
.entrance {
  display: flex;
  justify-content: center;
  padding-inline: 300px;
  font-weight: 400;
  color: var(--color-accent);
}
.entrance__container {
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
  background: var(--background-gradient);
  padding: 40px;
  border-radius: 10px;
  animation: appear 0.5s forwards;
  row-gap: 30px;
  opacity: 0;
}
@media (max-width: 770px) {
  .entrance__container {
    margin-top: 20vh;
  }
}
.entrance__greetings {
  font-size: 40px;
  align-self: center;
  animation: appear 0.5s forwards;
  animation-delay: 0.1s;
  opacity: 0;
  text-align: center;
  line-height: 1.3;
  font-weight: 300;
}
@media (max-width: 770px) {
  .entrance__greetings {
    font-size: 27.5px;
  }
}
.entrance__name {
  font-weight: 500;
  font-size: 50px;
}
@media (max-width: 770px) {
  .entrance__name {
    font-size: 35px;
  }
}
.entrance__buttons-wrapper {
  display: flex;
  flex-direction: column;
  align-self: center;
  row-gap: 10px;
}
.entrance__button {
  font-size: 35px;
  color: var(--color-accent);
  padding: 17.5px 27.5px;
  border-radius: var(--border-radius);
}
@media (max-width: 770px) {
  .entrance__button {
    font-size: 25px;
  }
}
.entrance__sandclock {
  animation: rotate 3s infinite;
  margin-left: 5px;
}
@media (max-width: 770px) {
  .entrance__sandclock {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 1080px) {
  .entrance {
    padding-inline: 200px;
  }
}
@media (max-width: 770px) {
  .entrance {
    padding-inline: 100px;
  }
}
@media (max-width: 480px) {
  .entrance {
    padding-inline: 50px;
  }
}
@media (max-width: 400px) {
  .entrance {
    padding-inline: 25px;
  }
}

.register-btn {
  background-color: var(--color-background);
  color: var(--color-accent);
  animation: appear 0.5s forwards;
  animation-delay: 0.2s;
  opacity: 0;
  box-shadow: var(--box-shadow);
  transition: 0.3s;
}
.register-btn:hover {
  background-color: var(--color-main);
}

.login-btn {
  background-color: var(--color-background);
  color: var(--color-accent);
  width: 100%;
  animation: appear 0.5s forwards;
  animation-delay: 0.3s;
  opacity: 0;
  box-shadow: var(--box-shadow);
  transition: 0.3s;
}
.login-btn:hover {
  background-color: var(--color-main);
  color: var(--color-accent);
}

.highlight {
  color: var(--color-accent);
}

.registration {
  display: flex;
  justify-content: center;
  color: var(--color-accent);
  padding-bottom: 50px;
}
.registration__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 360px;
  background: var(--background-gradient);
  row-gap: 20px;
  padding: 40px 60px;
  border-radius: 10px;
  margin-top: 7.5vh;
  animation: appear 0.5s forwards;
  border-radius: 10px;
}
@media (max-width: 770px) {
  .registration__container {
    padding: 30px 40px;
    margin-top: 17.5vh;
  }
}
@media (max-width: 480px) {
  .registration__container {
    padding: 25px 17.5px;
    width: 300px;
  }
}
.registration__name {
  font-size: 45px;
  font-weight: 300;
}
@media (max-width: 770px) {
  .registration__name {
    font-size: 35px;
  }
}
@media (max-width: 480px) {
  .registration__name {
    font-size: 32.5px;
  }
}
.registration__form {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
@media (max-width: 480px) {
  .registration__form {
    padding-inline: 10px;
  }
}
.registration__input {
  background-color: var(--color-background);
  padding: 15px 17.5px;
  font-size: 20px;
  color: var(--color-accent);
  font-family: "Comfortaa";
  border-radius: 7.5px;
  border: 2px solid transparent;
  position: relative;
  transition: 0.3s;
  box-shadow: var(--box-shadow);
}
.registration__input::-moz-placeholder {
  font-family: "Comfortaa";
}
.registration__input::placeholder {
  font-family: "Comfortaa";
}
.registration__input:focus {
  border: 2px solid var(--color-accent);
}
@media (max-width: 770px) {
  .registration__input {
    font-size: 17.5px;
  }
}
.registration__button {
  margin-top: 10px;
  padding: 15px 25px;
  border-radius: 15px;
  font-size: 22.5px;
  background-color: var(--color-accent);
  color: var(--color-text);
  box-shadow: var(--box-shadow);
  color: var(--color-background);
  transition: 0.3s;
  margin-top: 0;
}
.registration__button:hover {
  background-color: var(--color-main);
}
@media (max-width: 770px) {
  .registration__button {
    font-size: 20px;
  }
}
@media (max-width: 480px) {
  .registration__button {
    font-size: 15px;
  }
}
@media (max-width: 770px) {
  .registration {
    padding-inline: 200px;
  }
}
@media (max-width: 480px) {
  .registration {
    padding-inline: 100px;
  }
}

.loading-screen {
  width: 100%;
  height: 100%;
  background-color: var(--color-background);
  position: fixed;
  opacity: 0.8;
  padding-top: 20%;
  display: none;
  justify-content: center;
  z-index: 20;
}
.loading-screen::after, .loading-screen::before {
  position: absolute;
  content: "";
  width: 17.5px;
  height: 17.5px;
  background-color: var(--color-accent);
  border-radius: 50%;
  animation: loading 1s infinite ease-in-out;
}
@keyframes loading {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(30px);
  }
}
.loading-screen::before {
  animation-delay: 0.3s;
}

.load {
  display: flex;
}

.input-wrapper {
  display: flex;
  position: relative;
}

.svg-eye {
  position: absolute;
  cursor: pointer;
  left: 86.3%;
  top: 14%;
  transition: 0.3s;
  padding: 5px;
  fill: rgb(127, 127, 127);
  overflow: hidden;
  background-color: var(--color-background);
}
@media (max-width: 770px) {
  .svg-eye {
    left: 83%;
  }
}

.active {
  fill: var(--color-accent);
}

.crossline {
  height: 2px;
  width: 35px;
  background-color: rgb(127, 127, 127);
  position: absolute;
  transform: rotate(45deg);
  top: 26.5px;
  right: 12px;
  transition: 0.2s;
  cursor: pointer;
}
@media (max-width: 770px) {
  .crossline {
    right: 9px;
  }
}
@media (max-width: 480px) {
  .crossline {
    right: 10px;
  }
}

.hide {
  width: 0%;
  right: 29.25px;
}
@media (max-width: 770px) {
  .hide {
    right: 28px;
  }
}
@media (max-width: 480px) {
  .hide {
    right: 28px;
  }
}

.advice {
  position: absolute;
  background: var(--background-gradient);
  padding: 17.5px;
  width: 47.5%;
  border-radius: 10px;
  left: 105%;
  top: -35%;
  z-index: 2;
  opacity: 0;
  transform: translateX(-10px);
  text-align: left;
  transition: 0.3s;
  box-shadow: var(--box-shadow);
}
.advice__list {
  display: flex;
  flex-direction: column;
  list-style: disc;
  padding-left: 10px;
  margin: 0;
  row-gap: 10px;
}
@media (max-width: 770px) {
  .advice {
    left: 0%;
    top: -255%;
    font-size: 15px;
    border-radius: 7.5px;
  }
}

.visible {
  transform: translateX(0);
  opacity: 1;
}

.repeat {
  color: var(--color-accent);
  cursor: pointer;
}
.repeat:hover {
  text-decoration: underline;
}

.login {
  display: flex;
  justify-content: center;
  color: var(--color-accent);
  padding-bottom: 50px;
}
.login__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 360px;
  background: var(--background-gradient);
  row-gap: 20px;
  padding: 40px 60px;
  border-radius: 10px;
  margin-top: 7.5vh;
  animation: appear 0.5s forwards;
}
@media (max-width: 770px) {
  .login__container {
    padding: 30px 40px;
    margin-top: 17.5vh;
    border-radius: 10px;
  }
}
@media (max-width: 480px) {
  .login__container {
    padding: 30px 15px;
    width: 300px;
  }
}
.login__name {
  font-size: 45px;
  font-weight: 300;
}
@media (max-width: 770px) {
  .login__name {
    font-size: 35px;
  }
}
@media (max-width: 480px) {
  .login__name {
    font-size: 32.5px;
  }
}
.login__form {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
@media (max-width: 770px) {
  .login__form {
    padding-inline: 10px;
  }
}
.login__input {
  background-color: var(--color-background);
  padding: 15px 17.5px;
  font-size: 20px;
  color: var(--color-accent);
  font-family: "Comfortaa";
  border-radius: 7.5px;
  border: 2px solid transparent;
  position: relative;
  transition: 0.3s;
  box-shadow: var(--box-shadow);
}
.login__input::-moz-placeholder {
  font-family: "Comfortaa";
}
.login__input::placeholder {
  font-family: "Comfortaa";
}
.login__input:focus {
  border: 2px solid var(--color-accent);
}
@media (max-width: 770px) {
  .login__input {
    font-size: 17.5px;
  }
}
.login__button {
  margin-top: 10px;
  padding: 15px 25px;
  border-radius: 15px;
  font-size: 22.5px;
  background-color: var(--color-accent);
  color: var(--color-text);
  box-shadow: var(--box-shadow);
  color: var(--color-background);
  transition: 0.3s;
}
.login__button:hover {
  background-color: var(--color-main);
}
@media (max-width: 770px) {
  .login__button {
    font-size: 17.5px;
  }
}
@media (max-width: 770px) {
  .login {
    padding-inline: 200px;
  }
}
@media (max-width: 480px) {
  .login {
    padding-inline: 100px;
  }
}

.remember {
  display: flex;
  -moz-column-gap: 7.5px;
       column-gap: 7.5px;
  margin-left: 7.5px;
  margin-top: 5px;
  cursor: pointer;
}
.remember__checkbox {
  width: 20px;
  height: 20px;
  border-radius: 7.5px;
  border: 2px solid var(--color-hover);
  cursor: pointer;
  transition: 0.3s;
}
.remember__text {
  align-self: center;
  margin-top: 2px;
  font-size: 19px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media (max-width: 770px) {
  .remember__text {
    font-size: 17.5px;
  }
}

.modal-container {
  display: flex;
  justify-content: center;
  position: fixed;
  opacity: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-color: var(--color-background);
  transition: 0.3s;
}

.blackout {
  opacity: 0.95;
}

.email-reset {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 360px;
  background: var(--background-gradient);
  row-gap: 20px;
  padding: 40px 60px;
  border-radius: 10px;
  margin-top: 7.5vh;
  animation: appear 0.5s forwards;
  position: absolute;
  padding: 30px 40px;
  max-width: 350px;
  margin-top: 10%;
  opacity: 0;
  pointer-events: none;
  animation: none;
  transition: 0.3s;
  transform: scale(0.85, 0.85);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.247);
}
.email-reset__info {
  font-size: 17px;
}
@media (max-width: 770px) {
  .email-reset__info {
    font-size: 13px;
  }
}
@media (max-width: 770px) {
  .email-reset {
    margin-top: 25vh;
    padding: 30px;
    width: 280px;
  }
}
@media (max-width: 480px) {
  .email-reset {
    padding: 25px;
  }
}

.show {
  opacity: 1;
  pointer-events: all;
  transform: scale(1, 1);
  z-index: 50;
}

.close-button {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 5px;
  right: 8px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.close-button::after, .close-button::before {
  position: absolute;
  content: "";
  width: 20px;
  top: 12px;
  right: 4px;
  height: 2px;
  background-color: var(--color-accent);
  transition: 0.3s;
}
.close-button:hover::after {
  transform: rotate(137.5deg);
}
.close-button:hover::before {
  transform: rotate(222.5deg);
}

body {
  margin: 0;
}

.main__header {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  border-bottom: 1px solid rgb(185, 185, 185);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: var(--color-accent);
}
.main__header__name {
  display: flex;
  -moz-column-gap: 12.5px;
       column-gap: 12.5px;
  animation: appear 0.5s forwards;
  opacity: 0;
}
.main__header__name svg {
  align-self: center;
  fill: var(--color-accent);
}
@media (max-width: 480px) {
  .main__header__name {
    -moz-column-gap: 8px;
         column-gap: 8px;
  }
}
.main__header__title {
  align-self: center;
  font-size: 40px;
  font-weight: 400;
}
@media (max-width: 770px) {
  .main__header__title {
    font-size: 35px;
  }
}
@media (max-width: 480px) {
  .main__header__title {
    font-size: 30px;
  }
}
.main__header__profile {
  align-self: center;
  cursor: pointer;
  transition: 0.2s;
}
.main__header__profile svg {
  fill: var(--color-accent);
  align-self: center;
}
@media (max-width: 480px) {
  .main__header__profile svg {
    width: 45px;
    height: 45px;
    margin-top: 2.5px;
  }
}
.main__header__profile:hover {
  opacity: 0.5;
}
.main__header__logout-btn {
  margin-top: 10px;
  padding: 15px 25px;
  border-radius: 15px;
  font-size: 22.5px;
  background-color: var(--color-accent);
  color: var(--color-text);
  box-shadow: var(--box-shadow);
  border-radius: 15px;
  margin-top: 0;
  font-size: 20px;
  padding: 12.5px 17.5px;
  color: var(--color-background);
  transition: 0.3s;
}
.main__header__logout-btn:hover {
  opacity: 0.6;
}
.main__header__info {
  position: absolute;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  width: 275px;
  max-width: 500px;
  opacity: 0;
  transition: 0.3s;
  transform: translateY(10px);
  row-gap: 15px;
  background: var(--background-gradient);
  padding: 25px 30px;
  border-radius: 7.5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.168);
  right: 50px;
  top: 70px;
  font-size: 17.5px;
  z-index: 10;
}
@media (max-width: 480px) {
  .main__header__info {
    right: 30px;
    top: 20vh;
  }
}
.main__header__extra {
  background-color: var(--background-gradient);
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 10px;
  border: 2px solid transparent;
  transition: 0.3s;
}
.main__header__extra:hover {
  border: 2px solid var(--color-accent);
}
@media (max-width: 770px) {
  .main__header {
    padding: 15px 30px;
  }
}
@media (max-width: 480px) {
  .main__header {
    padding: 10px 20px;
  }
}

.selected {
  background-color: var(--color-accent) !important;
  color: var(--color-background);
  border: 2px solid var(--color-accent);
}

.profile-information {
  animation: appear 0.5s forwards;
  animation-delay: 0.2s;
  opacity: 0;
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.username {
  align-self: center;
  font-weight: 400;
  font-size: 21px;
}
@media (max-width: 1080px) {
  .username {
    display: none;
  }
}

.show-profile {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.info-field {
  color: var(--color-accent);
  -webkit-user-select: text;
     -moz-user-select: text;
          user-select: text;
}

.confirmation {
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-color: transparent;
  transition: 0.3s;
  top: 0;
  left: 0;
}

.show-modal {
  opacity: 1 !important;
  pointer-events: all !important;
  transform: scale(1, 1) !important;
  z-index: 3;
}

.dark {
  -webkit-backdrop-filter: blur(12.5px);
          backdrop-filter: blur(12.5px);
  pointer-events: all;
}

.make-sure {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 360px;
  background: var(--background-gradient);
  row-gap: 20px;
  padding: 40px 60px;
  border-radius: 10px;
  margin-top: 7.5vh;
  animation: appear 0.5s forwards;
  border-radius: 10px;
  position: absolute;
  z-index: 4;
  padding: 25px 30px;
  color: var(--color-accent);
  row-gap: 10px;
  margin-top: 17%;
  width: 200px;
  opacity: 0;
  pointer-events: none;
  animation: none;
  transition: 0.3s;
  transform: scale(0.85, 0.85);
  background-color: var(--background-gradient);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.247);
}
@media (max-width: 770px) {
  .make-sure {
    margin-top: 30vh;
  }
}

.extra-option {
  display: flex;
  background-color: var(--background-gradient);
  color: var(--color-accent);
  align-content: flex-start;
  font-size: 20px;
  border-radius: 15px;
  border: 2px solid transparent;
  transition: 0.3s;
}
.extra-option:hover {
  text-decoration: underline;
}

.extra-list {
  padding: 0;
  margin: 0;
  list-style: circle;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.buttons {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

#sure, #not-sure {
  margin-top: 10px;
  padding: 15px 25px;
  border-radius: 15px;
  font-size: 22.5px;
  background-color: var(--color-accent);
  color: var(--color-text);
  box-shadow: var(--box-shadow);
  padding: 10px 15px;
  color: var(--color-background);
  transition: 0.3s;
  border-radius: 10px;
  justify-self: center;
  width: 50%;
}
#sure:hover, #not-sure:hover {
  opacity: 0.6;
}

p, h1, h2, h3, h4, h5 {
  margin: 0;
}

button {
  font-family: "Comfortaa";
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

input {
  outline: none;
  border: none;
}

:root {
  --color-main: rgb(210, 210, 210);
  --color-text: #000000;
  --color-accent: black;
  --color-background: #FFFFFF;
  --background-gradient: #f2f2f2;
  --color-hover: rgba(0, 0, 0, 0.675);
  --box-shadow: 0 0px 20px rgba(0, 0, 0, 0.07);
  --border-radius: 10px;
}

[data-theme=dark] {
  --color-accent: #ffffff;
  --color-background: rgb(8, 8, 8);
  --background-gradient: rgb(24, 24, 24);
  --color-main: rgb(69, 69, 69);
}

.time-scale {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin: 20px;
  animation: appear 0.3s forwards;
  animation-delay: 0.3s;
  opacity: 0;
}
.time-scale div {
  display: flex;
}
.time-scale__dates {
  display: flex;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
@media (max-width: 1080px) {
  .time-scale {
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
  }
}

.section-choose {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  width: 100%;
}
@media (max-width: 1080px) {
  .section-choose {
    width: 60%;
  }
}
@media (max-width: 480px) {
  .section-choose {
    width: 100%;
  }
}

.date {
  display: flex;
  justify-content: center;
  padding: 12px;
  min-width: 80px;
  border-radius: var(--border-radius);
  border: 2px solid var(--color-background);
  font-size: 20px;
  background: var(--background-gradient);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: 0.3s;
  color: var(--color-accent);
}
.date:hover {
  border: 2px solid var(--color-accent);
}
@media (max-width: 770px) {
  .date {
    padding: 12px 2px;
  }
}
@media (max-width: 480px) {
  .date {
    padding: 10px 0px;
    min-width: 70px;
  }
}

.chosen {
  background-color: var(--color-accent);
  border: 2px solid var(--color-accent);
}
.chosen p {
  color: var(--color-background);
}

.arrow {
  padding: 0px 10px;
  border-radius: 10px;
  background-color: var(--background-gradient);
  font-size: 20px;
  border: 2px solid transparent;
  fill: gray;
  transition: 0.1s;
}
.arrow:active {
  border: 2px solid var(--color-accent);
}

.react-horizontal-scrolling-menu--scroll-container {
  overflow: hidden;
  display: flex;
  -moz-column-gap: 4px;
       column-gap: 4px;
  width: 560px;
  padding-inline: 0px;
  background: transparent;
  margin-inline: 10px;
}
@media (max-width: 770px) {
  .react-horizontal-scrolling-menu--scroll-container {
    width: 270px;
    -moz-column-gap: 3px;
         column-gap: 3px;
  }
}
@media (max-width: 480px) {
  .react-horizontal-scrolling-menu--scroll-container {
    width: 227px;
  }
}

.day-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.day {
  color: var(--color-accent);
  font-size: 25px;
}
@media (max-width: 770px) {
  .day {
    font-size: 22.5px;
  }
}
@media (max-width: 480px) {
  .day {
    font-size: 20px;
  }
}

.month {
  font-size: 15px;
}
@media (max-width: 770px) {
  .month {
    font-size: 13px;
  }
}
@media (max-width: 480px) {
  .month {
    font-size: 11px;
  }
}

@keyframes drop {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.taskboard {
  overflow: visible;
  z-index: 1;
  padding-bottom: 50px;
}
.taskboard__select {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 20px;
  -moz-column-gap: 20px;
       column-gap: 20px;
  animation: drop 0.3s forwards;
}
.taskboard__select_btn {
  background-color: var(--background-gradient);
  color: var(--color-accent);
  padding: 10px 15px;
  font-size: 25px;
  border-radius: var(--border-radius);
  border: 2px solid transparent;
  transition: 0.3s;
  width: 100%;
}
.taskboard__select_btn:hover {
  border: 2px solid var(--color-accent);
}
@media (max-width: 1080px) {
  .taskboard__select_btn {
    padding: 17.5px 10px;
  }
}
@media (max-width: 770px) {
  .taskboard__select_btn {
    font-size: 20px;
    padding: 12.5px 5px;
  }
}
.taskboard__select .selected {
  background-color: var(--color-accent);
  color: var(--color-background);
  border: 2px solid var(--color-accent);
}
.taskboard__write-task {
  border: 2px solid var(--color-main);
  background: transparent;
  font-family: "Comfortaa";
  color: var(--color-accent);
  border-radius: 10px;
  font-size: 20px;
  padding: 10px 20px;
  transition: 0.3s;
}
.taskboard__write-task::-moz-placeholder {
  color: var(--color-main);
}
.taskboard__write-task::placeholder {
  color: var(--color-main);
}
.taskboard__write-task:focus {
  border: 2px solid var(--color-accent);
}
@media (max-width: 770px) {
  .taskboard__write-task {
    width: 80%;
    font-size: 17.5px;
  }
}
@media (max-width: 480px) {
  .taskboard__write-task {
    padding: 7.5px 10px;
    font-size: 16px;
    width: 80%;
  }
}
.taskboard__add-task {
  padding-top: 0;
  padding-inline: 13px;
  font-size: 35px;
  color: var(--color-background);
  background-color: var(--color-accent);
  transition: 0.3s;
  border-radius: 7.5px;
}
.taskboard__add-task:hover {
  opacity: 0.6;
}
@media (max-width: 480px) {
  .taskboard__add-task {
    font-size: 30px;
  }
}
.taskboard__wipe {
  background-color: var(--color-accent);
  color: var(--color-background);
  font-size: 20px;
  border-radius: 7.5px;
  transition: 0.3s;
  padding: 7.5px;
  cursor: pointer;
}
.taskboard__wipe:hover {
  opacity: 0.6;
}
@media (max-width: 480px) {
  .taskboard__wipe {
    width: 30px;
    height: 30px;
  }
}
.taskboard__header {
  display: flex;
  -moz-column-gap: 5px;
       column-gap: 5px;
  animation: rev 0.5s forwards;
}
@keyframes rev {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (max-width: 770px) {
  .taskboard__header {
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    width: 100%;
    padding-inline: 20px;
  }
}
.taskboard__header__main {
  display: flex;
  -moz-column-gap: 5px;
       column-gap: 5px;
  justify-content: center;
}
.taskboard__header__additional {
  display: flex;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
.taskboard__task-list {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-inline: 140px;
  row-gap: 20px;
  -moz-column-gap: 40px;
       column-gap: 40px;
  margin-top: 20px;
  transition: all 0.3s;
}
@media (max-width: 1080px) {
  .taskboard__task-list {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 480px) {
  .taskboard__task-list {
    padding-inline: 0px;
  }
}
.taskboard__task {
  position: relative;
  background: var(--background-gradient);
  color: var(--color-accent);
  width: 375px;
  padding: 5px;
  font-size: 22.5px;
  border-radius: var(--border-radius);
  transition: 0.2s;
  border: 2px solid transparent;
  overflow: hidden;
}
@media (max-width: 480px) {
  .taskboard__task {
    font-size: 20px;
    width: 300px;
    margin-right: 30px;
  }
}
.taskboard-categories {
  padding-inline: 140px;
}
@media (max-width: 770px) {
  .taskboard-categories {
    padding-inline: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.taskboard__categories-list {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 20px;
}
@media (max-width: 1080px) {
  .taskboard__categories-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media (max-width: 770px) {
  .taskboard__categories-list {
    margin-top: 0;
  }
}
.taskboard__category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  font-size: 40px;
  background-color: var(--color-accent);
  box-shadow: none;
  color: white;
  min-height: 100px;
  border-radius: var(--border-radius);
  animation: drop 0.3s forwards;
  transition: 0.3s;
  cursor: pointer;
  padding-block: 10px;
  padding-inline: 40px;
  z-index: 1;
}
.taskboard__category-wrapper {
  z-index: 1;
}
.taskboard__category__content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.taskboard__category__content-wrapper::before {
  content: "";
  width: 0%;
  height: 3px;
  border-radius: 10px;
  background-color: white;
  position: absolute;
  z-index: 1;
  top: 120%;
  transition: 0.3s;
}
.taskboard__category__svg-wrapper {
  display: flex;
  align-items: center;
  -moz-column-gap: 5px;
       column-gap: 5px;
  pointer-events: all;
}
.taskboard__category__svg-wrapper svg {
  fill: white;
}
.taskboard__category__change-color {
  background-color: var(--background-gradient);
  color: white;
  font-size: 20px;
  font-family: "Comfortaa";
  border-radius: 7.5px;
  transition: 0.5s;
  cursor: pointer;
  position: relative;
  padding-inline: 15px;
  padding-block: 10px;
}
.taskboard__category__change-color__options {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 7.5px;
  background-color: var(--background-gradient);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.419);
  border-radius: 10px;
  -moz-column-gap: 5px;
       column-gap: 5px;
  row-gap: 5px;
  top: -100%;
  right: 105%;
  z-index: 9999 !important;
  opacity: 0;
  transform: translateX(20px);
  transition: 0.3s;
  pointer-events: none;
}
.taskboard__category__change-color__option {
  width: 44px;
  height: 45px;
  background-color: red;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.taskboard__category__change-color__option:hover {
  opacity: 0.6;
}
.taskboard__category__change-color:hover {
  opacity: 0.6;
}
@media (max-width: 480px) {
  .taskboard__category__change-color {
    font-size: 17.5px;
  }
}
.taskboard__category:hover .taskboard__category__underline {
  height: 3px;
  border-radius: 10px;
  background-color: white;
  position: absolute;
  z-index: 1;
  width: 100%;
}
.taskboard__category__underline {
  width: 0%;
  height: 3px;
  border-radius: 10px;
  background-color: white;
  position: absolute;
  z-index: 1;
  top: 120%;
  transition: 0.3s;
}
.taskboard__category-wrapper {
  transition: 0.3s;
}
.taskboard__category-wrapper:hover {
  transform: scale(1.05, 1.05);
}
@media (max-width: 770px) {
  .taskboard__category {
    font-size: 35px;
    padding: 5px 30px;
    min-height: 90px;
  }
}
@media (max-width: 480px) {
  .taskboard__category {
    font-size: 30px;
    padding: 0px 25px;
  }
}

.inner-content-wrapper {
  position: relative;
  padding: 10px;
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  justify-content: space-between;
  width: 100%;
  border-radius: 5px;
  background-color: var(--background-gradient);
  z-index: 1;
  transition: 0.2s;
}

.spinning-border {
  position: absolute;
  width: 120%;
  height: 30%;
  top: 50%;
  left: -10%;
  background-color: black;
  animation: moveBorder 2s infinite linear;
  z-index: 1;
}
@keyframes moveBorder {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.reveal {
  opacity: 1;
  transform: translateX(0);
  pointer-events: all;
}

.category-tasks {
  opacity: 0;
  animation: drop 0.3s forwards;
}
.category-tasks__header {
  display: flex;
  position: relative;
  padding-inline: 50px;
  -moz-column-gap: 30px;
       column-gap: 30px;
  justify-content: center;
}
.category-tasks__title {
  font-size: 40px;
  font-weight: 400;
}
.category-tasks__return-btn {
  position: absolute;
  left: 325px;
  top: 25px;
  margin-top: 0;
  color: white;
  background-color: black;
  font-size: 17.5px;
  padding: 10px 20px;
  border-radius: 15px;
  transition: 0.3s;
}
.category-tasks__return-btn:hover {
  opacity: 0.6;
}
.category-tasks__create-task {
  display: flex;
  justify-content: center;
  -moz-column-gap: 5px;
       column-gap: 5px;
  margin-top: 15px;
  align-items: center;
}

.deadline-bar {
  max-width: 90%;
  height: 4px;
  background-color: rgb(0, 195, 255);
  border-radius: 20px;
  align-self: flex-end;
  position: absolute;
  z-index: 5;
  bottom: -7px;
  left: 15px;
  transition: 0.3s;
  animation: rev 0.3s forwards;
}

.task-complete {
  background-color: var(--color-accent);
  color: white;
}

.complete {
  background-color: var(--color-accent);
  color: var(--color-background);
}

.in-process {
  border: 2px solid transparent;
}

.cross {
  text-decoration: line-through;
}

.edit-task {
  font-size: 20px;
  border-radius: var(--border-radius);
  padding: 10px 15px;
  width: 89%;
  font-family: "Comfortaa";
  box-shadow: var(--box-shadow);
  border: 1.5px solid transparent;
  transition: 0.2s;
  outline: none;
  resize: none;
  overflow: hidden;
}
.edit-task:focus {
  border: 1.5px solid var(--color-accent);
}

.task-status {
  font-size: 15px;
  font-weight: 400;
}

.task-wrapper {
  display: flex;
  justify-content: center;
  -moz-column-gap: 5px;
       column-gap: 5px;
  align-items: center;
  animation: drop 0.3s forwards;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.task-index {
  color: var(--color-accent);
  position: absolute;
  left: -32.5px;
  font-size: 20px;
  font-weight: 400;
}
@media (max-width: 480px) {
  .task-index {
    display: none;
  }
}

.content-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.item-wrapper {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 20px;
       column-gap: 20px;
  position: relative;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 7.5px;
}

.three-dots {
  cursor: pointer;
  padding-block: 5px;
  position: absolute;
  right: -30px;
  transition: 0.3s;
  fill: var(--color-accent);
}
.three-dots:hover {
  opacity: 0.5;
}
@media (max-width: 480px) {
  .three-dots {
    margin-right: 25px;
  }
}

.button-wrapper {
  align-self: center;
}

.complete-btn {
  border: 1.5px solid var(--color-accent);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.task-options {
  position: absolute;
  display: flex;
  height: 100%;
  width: 98%;
  -moz-column-gap: 10px;
       column-gap: 10px;
  padding-left: 10px;
  background-color: var(--background-gradient);
  border-radius: var(--border-radius);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  z-index: 10;
  align-items: center;
  transform: translateX(20px);
}
@media (max-width: 480px) {
  .task-options {
    width: 88%;
  }
}

.show-options {
  opacity: 1;
  visibility: visible;
  z-index: 10;
  transform: translateX(0);
}

.task-option {
  background-color: var(--color-accent);
  color: var(--color-background);
  border-radius: var(--border-radius);
  padding-block: 5px;
  box-shadow: var(--box-shadow);
  transition: 0.2s;
}
.task-option:hover {
  opacity: 0.6;
}

.option {
  background-color: var(--color-accent);
  fill: var(--color-background);
  color: var(--color-background);
  border-radius: var(--border-radius);
  cursor: pointer;
  padding: 7.5px;
  transition: 0.3s;
  box-shadow: var(--box-shadow);
}
.option:hover {
  opacity: 0.6;
}

@keyframes deleting {
  from {
    transform: translateX(0px);
    opacity: 1;
  }
  to {
    transform: translateX(60px);
    opacity: 0;
  }
}
@keyframes deleting-category {
  from {
    transform: scale(1.075, 1.075);
    opacity: 1;
  }
  to {
    transform: scale(0.8, 0.8);
    opacity: 0;
  }
}
.deleting {
  animation: deleting 0.4s forwards;
}

.deleting-category {
  animation: deleting-category 0.3s forwards ease-in-out;
}

.sandclock {
  position: absolute;
  align-self: center;
  fill: var(--color-accent);
  animation: rotate 1s infinite;
  left: -100px;
}
@keyframes rotate {
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#confirm-edit {
  position: absolute;
  left: -55px;
  opacity: 0;
  z-index: 10;
  transition: 0.3s;
  animation: slideLeft 0.3s forwards;
}
@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(15px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
#confirm-edit:hover {
  background-color: rgb(93, 93, 93);
}

.phantom {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  z-index: 3;
  pointer-events: none;
  z-index: -1;
  transform: scale(0.8, 0.8);
  right: 20px;
  background-color: transparent;
}

.fade {
  transform: scale(1.1, 1.35);
  transition: 0.4s;
  opacity: 0;
}

.all-tasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
  animation: appear 0.3s forwards;
}

.timer-menu {
  display: flex;
  align-items: center;
  -moz-column-gap: 7.5px;
       column-gap: 7.5px;
  animation: rev 0.3s forwards;
  color: var(--color-accent);
}

.set-timer {
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 20px;
  width: 70px;
  font-family: "Comfortaa";
}

@media (max-width: 480px) {
  #category-input {
    width: 50%;
  }
}

body {
  font-family: "Comfortaa";
  background-color: var(--color-background);
  color: var(--color-text);
  font-weight: 400;
  transition: 0.2s;
}
body::-moz-selection {
  background-color: black;
  color: white;
}
body::selection {
  background-color: black;
  color: white;
}

h1 {
  font-weight: 400;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateX(-25px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}/*# sourceMappingURL=styles.css.map */