.time-scale {
    display: flex;
    margin: 20px;
    justify-content: center;
    animation: appear 0.5s forwards;
    animation-delay: 0.3s;
    opacity: 0;

    div {
        display: flex;
    }
}

.date {
    display: flex;
    justify-content: center;
    padding: 12px;
    min-width: 50px;
    border-radius: var(--border-radius);
    border: 1.5px solid var(--color-background);
    font-size: 15px;
    background: var(--background-gradient);
    cursor: pointer;
    user-select: none;
    transition: 0.3s;

    &:hover {
        border: 1.5px solid var(--color-accent)
    }
}

.chosen {
    background-color: var(--color-accent);
    border: 1.5px solid var(--color-accent);

    p {
        color: var(--color-background);
    }
}

.arrow {
    padding: 12.5px 17.5px;
    border-radius: var(--border-radius);
    background-color: var(--color-accent);
    font-size: 20px;
    font-weight: 1000;
    color: var(--color-background);
    transition: 0.3s;
    margin-inline: 10px;

    &:hover {
        opacity: 0.6;
    }
}

.react-horizontal-scrolling-menu--scroll-container {
    overflow: hidden;
    display: flex;
    column-gap: 5px;
    width: 567px;
}

.day-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.day {
    color: var(--color-accent);
    font-weight: 1000;
    font-size: 20px;
}
